flasgger==0.9.5
Flask==2.0.1
Flask-Cors==3.0.10
flask-googlemaps==0.4.1
Flask-WTF==0.15.1
gast==0.4.0
gensim==4.0.1
gunicorn==20.1.0
nltk==3.6.2
numpy==1.19.5
pandas==1.2.4
Pillow==8.2.0
pipenv==2020.11.15
python-dateutil==2.8.2
regex==2021.7.6
requests==2.26.0
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
selenium==3.141.0
sklearn==0.0
spacy==3.0.6
spacy-legacy==3.0.6
sqlparse==0.4.1
stopwords==1.0.0
streamlit==0.83.0
textblob==0.15.3
validators==0.18.2
virtualenv==20.4.4
virtualenv-clone==0.5.4
wordcloud==1.8.1
WTForms==2.3.3
xlrd==2.0.1